.sidebarLayout{
  position: fixed !important; 
  box-shadow:0px 0px 3px 0px rgb(0 0 0 / 10%);
  height: 100%; 
}
.sidebarToggler{
  position: absolute;
  /* visibility: hidden; */ 
  transition: opacity 0.2s linear;
  top:10%;
  width: 1.25rem;
  opacity: 0;
  height: 1.25rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  right: -.5rem;
  background-color: white;
  color: rgb(31 14 133);  
}
.sidebarToggler i {
  font-size: medium;
  color: inherit;
}
.sidebarToggler:hover{
  background-color: rgb(31 14 133);
  color: white;
}
.sidebarLayout:hover .sidebarToggler{
/*  visibility: visible; */
 opacity: 1;
 
}
.mainContainer{
  margin-left: 200px; 
  transition: margin .2s;
}
.offcanvas_Header button{
  background-color: aliceblue;
}
.offcanvas_Body{
  padding: 0; 
}
.offcanvas{
  display: none;
  background-color: bisque;
}
@media screen and (max-width:768px) { 
  .sidebarLayout{
    display: none;
  }
  .mainContainer{
    margin-left: 0;   
  }
 }
@media screen and (min-width:769px) { 

  .showSidebar{
    width: 200px;
    transition: width .2s;
  }
  .hideSidebar{
    width: 1rem;
    transition: width .2s;
  }
  .hideSidebar .sidebarToggler{
   opacity: 1 !important;
  }
  .expandMainContainer{
    margin-left: 1rem;
    transition: margin .2s;
  }

}

@media screen and (width >= 1400px) and (height >= 800px) {
  .mainContainer{
    margin-left: 250px;
  }
  .showSidebar{
    width: 250px;
  }
  .sidebarToggler{
    width: 1.5rem;
    height: 1.5rem;
    right: -.55rem;
  }
  .sidebarToggler i{
    font-size: large;
  }
}
