.backDrop{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(67 60 60 / 24%);
    z-index: 1500;
    opacity: .6;
}
.wrapper {
  top:calc(50vh - 30px);
  left:calc(50% - 100px);
  width: 200px;
  height: 60px;
  position: fixed;
  z-index: 1550;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

.violet {
  background-color : #8b36b8
}

.skyBlue {
background-color : #6be9eb;
}
.dark {
  background-color : #01015b;
}
@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}


 /*  
  .loader{
    width:100%;   
    z-index: 1550;
    position: fixed;
    top: 50vh;   
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
  }
  
  .dot{
    height:25px;
    width:25px;
    border-radius:50%;
  }
  
  .dot:nth-child(1){
    background-color:rgb(188, 62, 188);
    animation: jump 0.6s 0.5s ease-in infinite
  }
  .dot:nth-child(2){
    background-color:rgb(86, 197, 241);
    animation: jump 0.6s 0.7s ease-in infinite
  }
  .dot:nth-child(3){
    background-color:white;
    animation: jump 0.6s 0.9s ease-in infinite
  }
  
  
  @keyframes jump{
    0%{
      transform: translate3D(0,0,0);
    
    }
      50%{
      transform: translate3D(0,-15px,0);
       
    }
      100%{
      transform: translate3D(0,0,0);
      
    }
  }
   */
  
  
  