.bgColor_1{
 background-color:  rgb(31 14 133) !important;
}
.bgColor_1:focus{
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
}
.bgColor_2{
  background-color: rgb(191 201 235) !important;
}
.form-floating > label {
  padding: 1rem 0;
}
.form-floating>.form-control:not(:placeholder-shown)~label::after{
  background: none !important;
}
.form-select { 
  padding: 0.15rem 2.25rem 0.15rem 0.75rem;
}
.form-control{
  padding: 0.15rem 0.75rem;
  min-height: auto !important;
}
.form-select-sm,
.rs-input-group-addon,
.rs-picker-date {
  cursor: pointer !important;
}
.form-check-input:focus,
.form-control:focus,
.form-select:focus,
.rs-picker-toggle.rs-btn.rs-btn-default.rs-btn-sm:focus {
  box-shadow: none;
}
.form-select:disabled,
.form-control:disabled {
  background-color: inherit !important;
  opacity: 0.8;
}
.col-form-label {
  font-weight: bold;
  color: rgb(87, 87, 87);
}
/* For exclude empty batch toggler label */
label{
  font-weight: 500;
}
abbr {
  text-decoration: none;
}
abbr:hover {
  cursor: default;
}

/* Button */

.btn-sm,
.btn-group-sm > .btn {
  /* border-radius: 0 !important; */
  font-weight: 500 !important;
  font-size: 12px ;
  padding: 0.15rem 0.4rem;
}
a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}
.offcanvas {
  max-width: 200px;
}
.btn-close:focus {
  box-shadow: 0px 0px 5px 0px rgb(199, 193, 193);
}

/* Icon */
svg,.spinner-border-sm {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  /* cursor: pointer; */
}
.fa {
  font-size: 14px;
  padding: 0 0.25rem;
  cursor: pointer;
}
.alert-dismissible .btn-close {
  padding: 0.7rem !important;
}

/* Table */
.table {
  margin-bottom: 0 !important;
  --bs-table-bg: none !important;  
}
.table-bordered > :not(caption) > * {
  border-width: 0px;
}
/* only for job field map table (this class will enable only if we set responsive att in <Table>) */
.table-responsive{
  max-height: calc(100vh - 19rem);
}
td {
  font-size: 11px;
}
.form-check-input:checked {
  background-color: rgb(31 14 133 / 63%);
  border-color: rgb(31 14 133 / 63%);
}

/* Rsuite */
.rs-tooltip {
  color: black !important;
  --rs-tooltip-bg: white !important;
  font-weight: 500;
  box-shadow: inset 1px 1px 1px 0px rgb(102 96 97);
}
.rs-picker-menu {
  z-index: 1500;
}
.rs-picker-default .rs-picker-toggle {
  box-shadow: none;
}
.rs-tooltip::after {
  display: none !important;
}
/* Datepicker Width */
.rs-input-group.rs-input-group-inside {
  width: 115px;
}
.rs-calendar-table-cell-content,
.rs-calendar-month-dropdown-cell-content,
.rs-input,
.rs-input-group-addon {
  font-size: 12px;
}
.rs-input {
  padding: 0.15rem 0.15rem 0.15rem 0.5rem !important;
}
.rs-input-group-addon {
  padding: 0.25rem 0.5rem !important;
}
.rs-input-group:focus-within,
.rs-input-group:hover {
  outline: none !important;
  border-color: rgb(229, 229, 234) !important;
}
.rs-input {
  cursor: pointer;
}
.rs-input-group.rs-input-group-inside {
  background-color: whitesmoke; /* For calender icon style */
}

.indication {
  position: relative;
  height: calc(100vh - 5rem);
  width: 100%;
  display: flex;
  justify-content: center;
}

.indication::before {
  content: "";
  background-image: url("/src/Assert/Fn_background.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.indication h1 {
  position: relative;
  color: white;
  font-size: 4rem;
}
@media (height < 800px) {
  .form-control,.form-select /* .input-group>.input-group-text,  .input-group>.form-select */ {
  max-width: 224px;
  font-size: 12px;  
}
}
@media (width >= 1400px) and (height >= 800px) {
  body,
  .btn-sm,.btn-group-sm>.btn,
  .form-control,.form-select, /* .input-group>.input-group-text,  .input-group>.form-select, */
  .rs-calendar-table-cell-content,.rs-calendar-month-dropdown-cell-content,.rs-calendar-table-header-cell-content,.rs-btn-xs ,.rs-input,.rs-pagination-btn,.rs-tooltip
  {
    font-size: 14px !important;
  }
  td{
    font-size: 12px;
  }
  th,label{
    font-size: 14px;
  }
  svg,.spinner-border-sm{
    width: 0.875rem !important;
    height: 0.875rem !important;
  }
  .fa{
    font-size: 16px;
  }
  .rs-input-group.rs-input-group-inside {
    width: 130px;
  }
  .rs-calendar-table-cell {
    padding: 0.5rem;
  }
  .form-control,.form-select{
    width:224px;
  }
  .modal-sm{
    width:500px;
    max-width: 500px;
  }
    .modal-md{
    width:800px;
    max-width: 800px;
  }
  .modal-xl{
    width:1300px; 
    max-width: 1300px;  
  }
  .table-responsive{
    max-height: calc(100vh - 20rem);
  }
}
@media (width >= 1600px) and (height >= 900px) {
  body,
  .btn-sm,.btn-group-sm>.btn,
 .form-control,.form-select,/*  .input-group>.input-group-text,  .input-group>.form-select, */
 .rs-calendar-table-cell-content,.rs-calendar-month-dropdown-cell-content,.rs-calendar-table-header-cell-content,.rs-btn-xs ,.rs-input,.rs-pagination-btn,.rs-tooltip
 {
    font-size: 16px !important;
  }
  td{
    font-size: 13px;
  }
  th,label{
    font-size: 15px;
  }
  svg,.spinner-border-sm{
    width: 1rem !important;
    height: 1rem !important;
  }
  .fa{
    font-size: 18px;
  }
  .form-control,.form-select/*  .input-group>.input-group-text,.form-select, */ {
    width: 300px;
  }
  .rs-input-group.rs-input-group-inside {
    width: 160px;
  }
  .table-responsive{
    max-height: calc(100vh - 22rem);
  }
}
@media (width >= 1800px) and (height >= 1000px) {
  body,
  .btn-sm,.btn-group-sm>.btn,
  .form-control,.form-select,/*  .input-group>.input-group-text,  .input-group>.form-select, */
  .rs-calendar-table-cell-content,.rs-calendar-month-dropdown-cell-content,.rs-calendar-table-header-cell-content,.rs-btn-xs ,.rs-input,.rs-pagination-btn,.rs-tooltip
   {
    font-size: 18px !important;
  }
  td{
    font-size: 14px;
  }
  th,label{
    font-size: 17px;
  } 
  .fa{
    font-size: 20px;
  } 
  .table-responsive{
    max-height: calc(100vh - 24rem);
  }
}
