.datePicker span{
    color: rgb(47, 46, 46) !important;
    font-size: 12px;  
}
.select > div{
    border: 1px solid #b5bdc5;
    border-radius: 0.25rem;
}

.title{    
    font-size: large;
    color: rgb(1, 1, 91);
 }
 .responseAlert{
    padding: .5rem !important;
    margin-bottom: 0 !important;
 }
 .warning button{
    padding: 0.75rem 0.5rem !important;
 }
 .customButton{
    background-color: rgb(14 20 139);
    border-color:rgb(14 20 139) ; 
    --bs-btn-active-bg:rgb(40, 46, 162) ; 
    color: white !important;
}
.customButton:hover{
    background-color: rgb(33, 33, 129);
    border-color:rgb(1, 1, 91) ;
}
.customButton:focus{
  background-color: rgb(33, 33, 129);
  border-color:rgb(1, 1, 91) ;
}
 .layout{   
   /*  height:calc(100vh - 6rem) ; *//*(Header(3) + navBar(2) + layout margin(1) = 6)*/    
    margin: .5rem 0;
    box-sizing: border-box;
}
.layout_header{   
    min-height:9rem; ;   
    max-height:fit-content; 
    box-sizing: border-box;
}
.formlayout{
    padding: 0 1rem;    
    box-shadow: inset 0 0 10px 0 rgb(229, 229, 234);
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
}
.layout_actionbar{
    height: 2rem;    
    display: flex;
    align-items: center;    
}
.layout_body{        
   /*  max-height:calc(100vh - 19rem) ; *//*newly added(+1rem removed table bottom margin =>increased margin top for header) 18rem=>header(3)+navigation(2)+layout_header(9)+layout_footer(2)+(bodymargin=1rem)+layoutmargin(1) */    
    background-color: white; 
    box-sizing: border-box;
    /* height:calc(100vh - 19rem) ;  */    
}
.layout_footer{   
    margin: 0.25rem ; /*newly added*/   
    box-sizing: border-box;
}
.conformationModalTop{
    width: 100%;
    height: 3rem;
    position: relative;
    background-color: rgb(255 0 0 / 10%);
}
.conformationModalTopIcon{
    left: calc(50% - 1.25rem);
    top: 1.75rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    position: absolute;
    background-color: rgb(255 0 0 / 65%);
    border-radius: 50%;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
}
.conformationModalTopIcon svg{
    width: 1.5rem !important;
    height: 1.5rem !important;
    color: white;
}
.errorModalHeader{
    background-color: rgba(255 0 0 / 7%);
}
.errorModalHeaderContent{   
    font-weight: 600;
    font-size: large;
    color:red; 
}
.noRecordFound{
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: gray;    
}
.noRecordFound .suggestionMsg{
    font-weight: 400;
    font-size: 12px;
}
.toastLoader{
    height: 0.25rem;
    animation: disappear 3.5s linear forwards 1s;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;  
  }
  .toast{
    z-index: 1500;
    width: 350px;  
    background-color: rgb(255, 255, 255);
    position: absolute; 
    border-radius: .5rem; 
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.06);
    top: 5.25rem;
    left: 100%;
    animation: slideIn 5s linear;
    box-sizing: border-box;
    
  }
  .toastHeader{
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .toastIconEffect{
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  .toastIcon svg{
    height: 1rem !important;
    width: 1rem !important; 
  }
  @keyframes disappear {
    0%{
      width: 100%;    
    }
    5%{
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 0rem;
    }
    50%{
      width: 50%;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 0rem;
    }
    100%{
      width: 0%;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 0rem;
    }
    
  }

  @keyframes slideIn {
    5%{
      left: calc(100% - 360px);
    }
    95%{
      left: calc(100% - 360px);      
    }
    100%{
      left: 100%;
    }
    
  }
 
/* Below query added to extend the table height when the screen height is small */
@media screen and (height <= 500px) {
  .layout_body{
    max-height: 20rem !important;  
  }
}
@media screen and (width >= 1400px) and (height >= 800px) {
.title{
   padding: .5rem 0;;
}
.formlayout{
  padding: 0 1rem .25rem;
}
.layout_actionbar{
  height: 3rem;
}
.toast{
  top:7rem;
}
}
@media screen and (width >= 1600px) and (height >= 900px) {
  .title,.errorModalHeaderContent{
   font-size: x-large;   
  }
  .conformationModalTop{
    height: 4rem;
  }
  .conformationModalTopIcon{
    top:2rem;
    height: 3rem;
    width: 3rem;
  }
  .conformationModalTopIcon svg{
    height: 2rem !important;
    width: 2rem !important;
  }
 }