.updateForm div > div{
    opacity: .9;
}
.modalHeader{
    background-color: rgb(191 201 235 / 62%);
}
.modalBody{    
    overflow-x: hidden;   
}
.modalBottom{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.subTitle{
    color: white;
    margin: .25rem .25rem 0.5rem .25rem;   
    border-radius: .25rem;
    padding: 0.25rem 0.5rem;    
    background-color:rgb(31 14 133)
}
.datePicker div{
    width: 224px;
    box-shadow: none !important;
}
.warningText{
    font-weight: 500;
}
