
.loginBottom{
   /*  margin-top: 50px; */
   margin: 3rem 0 1rem;
}
.loginTop{
   padding: 1rem;
   text-align: center;

}
.loginImage {
    position: relative;
    z-index: 1;
    height: 100vh;        
}

.loginImage::before {
    content: "";
    background-image: url('/src/Assert/LoginLogo3.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity:1;
}
.input{
    border: none;   
    padding-left: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    margin-bottom: 1rem;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
}
.img{
    width: 100px;
    height: 50px;
}
.text{
    font-weight: 600;
}
.valid{
    visibility: hidden;    
}
.inValid{
    visibility: visible;
    animation: blink 1s linear 2;
}
.errMsg{
    font-weight: 500;
   width: 100%;
   height: 1rem; 
   margin-top: 20px;  
}
@keyframes blink {
    50% {
        opacity: 0;
      }
    
}
/* .loginForm{
    margin-top: 9rem;
} */
@media screen and (max-width:575px) {
    .loginMain{      
    background-image: url('/src/Assert/LoginLogo3.jpg');
    background-size: cover;
    height: 100vh;
 
    }
    .loginForm{
        background-color: white;
        border-radius: 10px;
        padding: 0 2rem;
        margin: auto;
        width: 75% !important;
    }
    
}
@media screen and (width >= 1400px) and (height >= 800px) {
    .img{
        width: 140px;
        height: 70px;
    }
    .loginTop{
        padding: 2rem;
    }
    .loginBottom{
        margin: 4rem 0 1rem;
    }
    .input{
        margin-bottom: 2rem;
    }
}
@media screen and (width >= 1600px) and (height >= 900px) {
    .img{
        width: 180px;
        height: 90px;
    } 
    .input{
        margin-bottom: 2.5rem;
    }
}
@media screen and (width >= 1600px) and (height >= 900px) {
    .img{
        width: 220px;
        height: 110px;
    }
    .input{
        margin-bottom: 3rem;
    }
}