.table {
  --bs-table-bg: none !important;
  border-bottom: 1px solid lightgrey;
}
.table th {
  display: table-cell;
  vertical-align: middle;
  position: sticky;
  top: 0;
  padding: 0 0.25rem;
  font-weight: 500;
}
.table th,
td {
  white-space: nowrap;
}
.table thead {
  height: 2rem;
  background-color: rgb(191 201 235);
  box-shadow: 0px 1px 2px 0px rgb(148 148 156 / 75%);
  position: sticky;
  top: 0;
  cursor: pointer;
}
.title {
  font-weight: bold;
  color: rgb(1, 1, 91);
  margin-bottom: 1rem;
}
.row {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
}
.name {
  font-weight: 500;  
}
.lightBgColor {
  background-color: rgb(210 215 234) !important;
}
