body {
  margin: 0;
  font-family: 'Montserrat','Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
  font-size: 12px; 
  overflow-x: hidden;
}

code {
  font-family:'Montserrat', 'Courier New',
    monospace;
}
